
<div class="content" role="main">

  <div class="card-container">
    <app-stripe-payment-request></app-stripe-payment-request>


    <form class="stripe-form" novalidate (ngSubmit)="createToken()" [formGroup]="stripeTest">
  
      <input class="stripe-input" type="text" formControlName="name" placeholder="Jane Doe">
      
      <ngx-stripe-card
        class="stripe-card"
        [options]="cardOptions"
        [elementsOptions]="elementsOptions">
      </ngx-stripe-card>
      
      <button class="stripe-button" type="submit">
        CREATE TOKEN
      </button>
      
    </form>
  </div>
</div>

<router-outlet></router-outlet>